{% extends "entries/base.html" %}
{% block content %}
      <div class="col-md-8">
        <div class="card mb-4 mt-4">
          <div class="card-body">
            <h2 class="card-title">Login to your Account</h2>
          </div>
          <div class="card-footer text-muted">
           <form method="post">
               {% csrf_token %}
               {{ form.as_p }}
               <button type="submit" class="bin btn-primary"> Login</button>
           </form>
          </div>
        </div>
      </div>
{% endblock %}